# Домашнее задание 7

Добро пожаловать на седьмое домашнее задание, в нем Вам предстоит очистить набор данных для задачи **кластеризации** от пропусков и некорректной информации.

В этом наборе данных находиться информация о насекомых: название насекомых, уровень опасности и их размер

In [1]:
import pandas as pd
df = pd.read_csv("insects_dataset.csv", index_col = 0)

In [2]:
df

    Название насекомого Уровень опасности  Размер
id
0                  муха            Опасен       9
1                 блоха            Опасен       1
2               муравей         Нейтрален      10
3                  муха            Опасен      10
4                  муха      Очень опасен      10
..                  ...               ...     ...
901                муха      Очень опасен       8
902                муха            Опасен       8
903             таракан         Нейтрален       5
904             муравей         Нейтрален       4
905                моль         Нейтрален       4

[906 rows x 3 columns]

К сожалению, в процессе сбора данной информации произошли некоторые ошибки, в результате чего в таблице появились **пропуски** и **некорректные данные.**

В этом домашнем задании Вам предлагается произвести несколько этапов очистки представленного набора данных, после чего у Вас получится полноценный **датасет для задачи кластеризации.**

### Задание 1

Найдите и удалите все строки, в которых есть пропуски (null).

**Подсказка:** используйте для выполнения задания команду <code>dropna()</code>. Пример использования данной команды можно найти в практической части лекции.

In [3]:
df = df.dropna()

In [4]:
assert len(df) == 875, "Удалены на все сторчки с null"

### Задание 2

Найдите и удалите все строки, в которых размер насекомых больше 10 см

**Подсказка:** используйте для выполнения задания условную фильтрацию. Пример использования данной команды можно найти в практической части лекции.

In [5]:
df.describe()

           Размер
count  875.000000
mean    32.277714
std    122.072659
min      1.000000
25%      3.000000
50%      6.000000
75%      9.000000
max    996.000000

In [6]:
df = df[df["Размер"]<=10]

In [7]:
assert len(df) == 825, "Удалены на все сторчки с ОГОРМНЫМИ насекомыми"

### Задание 3

Создайте отдельные столбцы для каждого вида наскомого и уровня опасности. Столбцы должны быть названы следующим образом.

* Название насекомого: муха
* Название насекомого: блоха
* Название насекомого: муравей
* Название насекомого: таракан
* Название насекомого: моль
* Название насекомого: комар
* Название насекомого: клоп

------------------------------
* Уровень опасности: Опасен
* Уровень опасности: Очень опасен
* Уровень опасности: Нейтрален


**Подсказка:** Пример выполнения данного упражнения можно найти в практической части лекции.

In [9]:
df["Название насекомого"].unique()

array(['муха', 'блоха', 'муравей', 'таракан', 'моль', 'комар', 'клоп'],
      dtype=object)

In [10]:
for i in df["Название насекомого"].unique():
    df["Название насекомого" + i] = df["Название насекомого"].isin([i]).astype(int)

In [11]:
for i in df["Уровень опасности"].unique():
    df["Уровень опасности" + i] = df["Уровень опасности"].isin([i]).astype(int)

In [12]:
assert len(df.columns) == 13, "Неправильное количество столбцов"

### Задание 4

Удалите лишние столцы с типом данных object.

In [13]:
df.describe()

,Размер,Название насекомогомуха,Название насекомогоблоха,Название насекомогомуравей,Название насекомоготаракан,Название насекомогомоль,Название насекомогокомар,Название насекомогоклоп,Уровень опасностиОпасен,Уровень опасностиНейтрален,Уровень опасностиОчень опасен
count,825.000000,825.000000,825.000000,825.000000,825.000000,825.000000,825.000000,825.000000,825.000000,825.000000,825.000000
mean,5.534545,0.157576,0.140606,0.115152,0.141818,0.155152,0.129697,0.160000,0.353939,0.323636,0.322424
std,2.956248,0.364564,0.347826,0.319398,0.349075,0.362269,0.336174,0.366828,0.478481,0.468147,0.467688
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
max,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [14]:
df = df.drop(['Название насекомого','Уровень опасности'],axis=1)

In [15]:
assert len(df.columns) == 11, "Неправильное количество столбцов"

И так, поздравляем, Вы выполнили седьмое домашнее задание!

Теперь осталось чуть-чуть...

На платформу Школково Вам нужно будет загрузить файл с итоговым очищенным датасетом для задачи кластеризации.

Чтобы сделать это, выполните ячейку ниже. Тем самым Вы сохраните таблицу в файл <code>insects_dataset_clean.csv</code>. Затем загрузите этот файл на платформу Школково.

In [16]:
df.to_csv("insects_dataset_clean.csv")