# Домашнее задание 13

Добро пожаловать на тринадцатое домашнее задание, в нем Вам подсчитать метрики регресии:  **MSE и MAE** на валидационном датасете для двух моделей. В итоге Вам предстоит выбрать лучшую по качеству модель.

В этом наборе данных находиться информация о людях: возраст человека, рост, **зарплата, а также предсказания 2-ух обученных независимо моделей для всех объектов из валидационного датасета**

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("13_hw_regression_dataset.csv", index_col=0)

In [3]:
df

       Рост  Возраст  Зарплата  Алгоритм_1  Алгоритм_2
id
0.0      38       30       106         107         100
1.0      24       49        72          74          80
2.0      39       43       178         178         183
3.0      50       45       144         146         149
4.0      27       32       161         159         166
...     ...      ...       ...         ...         ...
995.0    41       51        66          68          66
996.0    23       44       190         191         190
997.0    50       45        73          72          76
998.0    33       23       131         131         125
999.0    52       42       144         142         151

[1001 rows x 5 columns]

### Задание 1

Сохраните в отдельные переменные целевой признак и предсказанный целевой признак для двух моделей.

In [4]:
y_true = df["Зарплата"]


y_alg_1 = df["Алгоритм_1"]
y_alg_2 = df["Алгоритм_2"]

### Задание 2

Найдите и исправьте ошибки в реализации метрики **MSE**

In [5]:


def mse(y_true, y_pred):
    
    answer = 0.0
    for i,j in zip(y_true, y_pred):
        answer += (i-j)**2
    return answer/len(y_true)

Сохраните результат метрики в отдельные переменные

In [6]:
alg_1_mse = mse(y_true,y_alg_1) 
alg_2_mse = mse(y_true,y_alg_2)

In [8]:
print(alg_1_mse,alg_2_mse)

2170603083089.4714 2159947519788.4846

In [9]:
mean_squared_error(y_true, y_alg_1)

2170603083089.4714

In [10]:
mean_squared_error(y_true, y_alg_2)

2159947519788.4846

**Проверьте себя!**

Убедитесь с помощью команды <code>assert()</code>, что Вы правильно выполнили текущее задание.

In [7]:
from sklearn.metrics import mean_squared_error
assert alg_1_mse == mean_squared_error(y_true, y_alg_1), "Неправильная реализация метрики MSE"
assert alg_2_mse == mean_squared_error(y_true, y_alg_2), "Неправильная реализация метрики MSE"

### Задание 3

Найдите и исправьте ошибки в реализации метрики **MAE**

In [11]:
def mae(y_true, y_pred):
    
    answer = 0.0
    for i,j in zip(y_true, y_pred):
        answer += abs(i-j)
    return answer/len(y_true)

Сохраните результат метрики в отдельные переменные

In [12]:
alg_1_mae = mae(y_true,y_alg_1) 
alg_2_mae = mae(y_true,y_alg_2)

**Проверьте себя!**

Убедитесь с помощью команды <code>assert()</code>, что Вы правильно выполнили текущее задание.

In [13]:
from sklearn.metrics import mean_absolute_error
assert alg_1_mae == mean_absolute_error(y_true, y_alg_1), "Неправильная реализация метрики MAE"
assert alg_2_mae == mean_absolute_error(y_true, y_alg_2), "Неправильная реализация метрики MAE"

In [14]:
print(alg_1_mae,alg_2_mae)

129689.36963036963 129377.48951048951

Сохраните в переменные <code>best_mse</code> и <code>best_mae</code> метрики для лучшей модели

In [15]:
best_mse = min(alg_1_mse,alg_1_mse)
best_mae = min(alg_1_mae,alg_1_mae)

И так, поздравляем, Вы выполнили тринадцатое домашнее задание!

Теперь осталось чуть-чуть...

На платформу Школково Вам нужно будет загрузить таблицу с метриками **MSE и MAE** для лучшей модели измеренные на валидационном датасете.

Чтобы сделать это, выполните ячейку ниже. Тем самым Вы получите нужную таблицу. Затем загрузите данный файл на платформу Школково.

In [16]:
df_rezults = pd.DataFrame([
                    [best_mse, best_mae]
                    ],
                   columns=['MSE', 'MAE'], index=[0])
df_rezults.to_csv("h13_answer.csv")