# Домашнее задание 2

Добро пожаловать на второе домашнее задание, в нем Вам предстоит очистить набор данных для задачи **бинарной классификации** от пропусков и некорректной информации.

В этом наборе данных находиться информация о людях: возраст человека, возраст его родителей и **ходит ли он детский сад ил нет.**

In [2]:
import pandas as pd
df = pd.read_csv("kindergarten_dataset__zjla.csv", index_col = 0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 1001 entries, 0.0 to 999.0
Data columns (total 4 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Возраст              983 non-null    float64
 1   Возраст_мамы         1001 non-null   int64
 2   Возраст_папы         1001 non-null   int64
 3   Ходит_в_детский_сад  1001 non-null   object
dtypes: float64(1), int64(2), object(1)
memory usage: 39.1+ KB

In [ ]:
df

К сожалению, в процессе сбора данной информации произошли некоторые ошибки, в результате чего в таблице появились **пропуски** и **некорректные данные.**

В этом домашнем задании Вам предлагается произвести несколько этапов очистки представленного набора данных, после чего у Вас получится полноценный **датасет для задачи бинарной классификации.**

Пользуйтесь методами <code>describe()</code> и <code>info()</code> для поиска некорректной информации и пропусков.

In [4]:
df.describe()

          Возраст  Возраст_мамы  Возраст_папы
count  983.000000   1001.000000   1001.000000
mean     7.181078     41.818182     47.702298
std      6.609239     12.806362     41.634136
min      0.000000      0.000000      0.000000
25%      2.000000     34.000000     36.000000
50%      5.000000     42.000000     44.000000
75%     11.000000     50.000000     52.000000
max     24.000000     70.000000    483.000000

### Задание 1

Найдите и удалите все строки в столбце **Возраст**, в которых есть пропуски (null).

**Подсказка:** используйте для выполнения задания команду <code>isna()</code>. Пример использования данной команды можно найти в практической части лекции.

In [6]:
df = df.drop(df[df['Возраст'].isna()].index,axis=0) 
# Вместо троиточия вставьте условие, согласно которому нужно удалить "неправильные" данные.

**Проверьте себя!**

Убедитесь с помощью команды <code>assert()</code>, что вы нашли и удалили все лишние строки.

In [7]:
assert len(df) == 983, "Удалны на все сторчки с null"

### Задание 2

Найдите и удалите все строки, в которых **Возраст_мамы** или **Возраст_папы** равен 0.

In [9]:
df = df.drop(df[df['Возраст_мамы']==0].index,axis=0)
df = df.drop(df[df['Возраст_папы']==0].index,axis=0)

# Вместо троиточия вставьте условие, согласно которому нужно удалить "неправильные" данные.

**Проверьте себя!**

Убедитесь с помощью команды <code>assert()</code>, что вы нашли и удалили все лишние строки.

In [10]:
assert len(df) == 963, "Удалены на все сторчки, в которых возраст родителей равен 0"

### Задание 3

Найдите и удалите все строки, в которых **Возраст** человека больше или равен **Возраст_папы** или **Возраст_мамы**.

In [11]:
df = df.drop(df[df['Возраст']>=df['Возраст_папы']].index,axis=0)
df = df.drop(df[df['Возраст']>=df['Возраст_мамы']].index,axis=0)

**Проверьте себя!**

Убедитесь с помощью команды <code>assert()</code>, что вы нашли и удалили все лишние строки.

In [12]:
assert len(df) == 953, "Удалены на все сторчки, в которых возраст родителей меньше возраста человека."

### Задание 4

Найдите и удалите все строки, в которых **Возраст_мамы** или **Возраст_папы** больше 200 лет.

In [13]:
df = df.drop(df[df['Возраст_папы']>200].index)

**Проверьте себя!**

Убедитесь с помощью команды <code>assert()</code>, что вы нашли и удалили все лишние строки.

In [14]:
assert len(df) == 940, "Удалены на все сторчки, в которых возраст родителей больше 200 лет."

### Задание 5

Произведите замену переменных для столбца **Ходит$_$в$_$детский_сад**. 

Ответ **да** замените на **1**, а ответ **нет** замените на **0**.

**Подсказка:** используйте для выполнения задания команду <code>map()</code>. Пример использования данной команды можно найти в практической части 1-ой лекции.

In [15]:
df["Ходит_в_детский_сад"] = df["Ходит_в_детский_сад"].map({'да':1,'нет':0})

И так, поздравляем, Вы выполнили второе домашнее задание!

Теперь осталось чуть-чуть...

На платформу Школково Вам нужно будет загрузить файл с итоговым очищенным датасетом для задачи классификации.

Чтобы сделать это, выполните ячейку ниже. Тем самым Вы сохраните таблицу в файл <code>kindergarten_dataset_clean.csv</code>. Затем загрузите этот файл на платформу Школково.

In [16]:
df

       Возраст  Возраст_мамы  Возраст_папы  Ходит_в_детский_сад
id
0.0        2.0            54            36                    1
1.0        5.0            40            42                    1
2.0        4.0            36            46                    1
3.0        2.0            45            36                    1
4.0        1.0            36            26                    0
...        ...           ...           ...                  ...
994.0      1.0            41            37                    0
995.0      2.0            33            46                    1
997.0      4.0            28            39                    1
998.0      6.0            53            47                    1
999.0     22.0            31            34                    0

[940 rows x 4 columns]

In [17]:
df.to_csv("kindergarten_dataset_clean.csv")